*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body{
    background-color: #efefef;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#searchBlock{
    width: 800px;
    margin: 50px auto;
}

input{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border:1px solid #ccc;
    font-size: 20px;
    text-transform: capitalize;
}

#template{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#template div{
    flex-basis:24%;
    margin: 2px;
}
#movies article{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
}

img{
    height: 400px;
    border:1px solid white;
    width: 100%;
}